<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Tickets List</title>
</head>
<body>
<h1>List of Tickets</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Event ID</th>
        <th>User ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.category}"></td>
        <td th:text="${ticket.event.id}"></td>
        <td th:text="${ticket.user.id}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
